<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 告诉spring 创建对象
             声明bean, 告诉Spring 要创建某个类的对象
             id:对象的自定义名称，唯一值，spring 通过这个名称找到对象
             class:类的全限定名称（不能是接口，因为spring是反射机制创建对象，必须使用类)
             spring就完成 SomeService someService = new SomeServiceImpl();
             spring 是把创建好的对象放到map中, spring框架有一个map存放对象的
              springMap.put(id的值，对象）；
              例如 springMap.put("someSercice",new SomeServiceImpl());
             一个标签声明一个对象
         -->
    <bean id ="someService" class = "org.example.service.impl.SomeServiceImpl"/>
</beans>


        <!--
        Spring 配置文件：
        1, beans: 是根标签, spring 中把java 对象成为bean
        2, spring-beans.xsd 是约束文件， 和mybatis指定的 dtd是一样的

        -->
